/* HTML: <div class="loader"></div> */
.db-loader {
    width: 15px;
    aspect-ratio: 1;
    position: relative;
}
.db-loader::before,
.db-loader::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    background: #000;
}
.db-loader::before {
    box-shadow: -26px 0;
    animation: l10-1 1.5s infinite linear;
}
.db-loader::after {
    transform: rotate(0deg) translateX(26px);
    animation: l10-2 1.5s infinite linear;
}
@keyframes l10-1 {
    50% {
        transform: translateX(26px);
    }
}
@keyframes l10-2 {
    100% {
        transform: rotate(-360deg) translateX(26px);
    }
}
