/* .darkmode-input {
    background-color: #18181c;
    color: white;
}
.bg-gradient-primary {
    background-color: #18181c;
}
.darkmode-navbar {
    background-color: #18181c;
}

.darkmode {
    background: black;
    color: white;
}
/* .page-link {
    background: black;
    color: white;
}
.page-item-owncss {
    background: black;
    color: white;
} */
